/D1.class
/IntDetail.class
/FloatDetail.class
/Char01.class
/Boolean01.class
/AotoConvert.class
/ForceConvert.class
/ForceConvertDetail.class
/StringToBasic.class
/ArithmeticOperator.class
/ArithmeticOperator02.class
/LogicOperator01.class
/InverseOperator.class
/AssignOperator.class
/TernaryOperator.class
/TernaryOperatorExercise.class
/Input.class
/BitOperator.class
/BitOperator2.class
/If01.class
/IfExercise01.class
/If03.class
/NestedIf.class
